<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myfunctionappapi1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5a3b6c8f-e800-41bc-a673-807ee96b3dc5/resourcegroups/ianmbRG/providers/Microsoft.Web/sites/MyFunctionAppAPI1</ResourceId>
    <UserName>$MyFunctionAppAPI1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://myfunctionappapi1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>